<ul id="slide-out" class="side-nav fixed">
  <!--
  <li class="logo">
    <a id="logo-container" href="#" class="brand-logo">
    <object id="front-page-logo" type="image/svg+xml" data="http://materializecss.com/res/materialize.svg">Your browser does not support SVG</object>
    </a>
  </li>
  -->

  <li class="active"><a href="#" class="waves-effect waves-dark">#general</a></li>
  <li><a class="waves-effect waves-dark modal-trigger" data-target="userListModal">Online users</a></li>

  <li class="divider">&nbsp;</li>
  
  <li><a class="modal-trigger" data-target="settingsModal">Settings</span></a></li>
  <li><a class="modal-trigger" data-target="aboutModal">About</span></a></li>
</ul>

<main>

  <div class="navbar-fixed">
    <nav class="teal">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">#general</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="side-nav" id="mobile-menu">
          <li class="active"><a href="#" class="waves-effect waves-dark">General channel</a></li>
          <li><a class="waves-effect waves-dark modal-trigger" data-target="userListModal">Online users</a></li>

          <li class="divider">&nbsp;</li>
          
          <li><a class="modal-trigger" data-target="settingsModal">Settings</span></a></li>
          <li><a class="modal-trigger" data-target="aboutModal">About</span></a></li>
        </ul>

      </div>
    </nav>
  </div>

  <section id="chat-view">
    <p id="motd">MOTD: Hello world! :smile: :heart:</p>
  
  </section>


  <div id="chat-entry-field">
    <nav class="blue-grey lighten-4">
      <div class="nav-wrapper">
        <form>
          <div class="input-field" id="chat-input-field">
            <input
              id="chat-input"
              type="text" required
              placeholder="Type a message"
              autocomplete=off
              contentEditable="true"
              onfocus="fieldFocus()">

            <label for="chat-input" class="hide-on-small-only">
                <i class="material-icons">chat_bubble_outline</i>
            </label>
          </div>
        </form>
      </div>
    </nav>
  </div>


</main>

<div id="userListModal" class="modal bottom-sheet">
  
  <div class="modal-content">
    <h4>Online Users (coming soon)</h4>
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="http://smartfaucets.oras.com/img/symbol_user_friendliness.jpg" alt="" class="circle">
        <span class="title">Username</span>
      </li>
      <li class="collection-item avatar">
        <img src="http://smartfaucets.oras.com/img/symbol_user_friendliness.jpg" alt="" class="circle">
        <span class="title">Username</span>
      </li>
      <li class="collection-item avatar">
        <img src="http://smartfaucets.oras.com/img/symbol_user_friendliness.jpg" alt="" class="circle">
        <span class="title">Username</span>
      </li>
      <li class="collection-item avatar">
        <img src="http://smartfaucets.oras.com/img/symbol_user_friendliness.jpg" alt="" class="circle">
        <span class="title">Username</span>
      </li>
      <li class="collection-item avatar">
        <img src="http://smartfaucets.oras.com/img/symbol_user_friendliness.jpg" alt="" class="circle">
        <span class="title">Username</span>
      </li>
      <li class="collection-item avatar">
        <img src="http://smartfaucets.oras.com/img/symbol_user_friendliness.jpg" alt="" class="circle">
        <span class="title">Username</span>
      </li>
      <li class="collection-item avatar">
        <img src="http://smartfaucets.oras.com/img/symbol_user_friendliness.jpg" alt="" class="circle">
        <span class="title">Username</span>
      </li>
    </ul>
  </div>
  
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<div id="settingsModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Settings</h4>
    <p>Coming soon...</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<div id="aboutModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h3>About</h3>
    <h5>Planned features</h5>
    <ul>
      <li>Multiple rooms</li>
      <li>Private messaging</li>
      <li>Chatbots</li>
      <li>/-commands</li>
      <li>Inline image viewing</li>
      <li>User-registration</li>
      <li>Permissions</li>
    </ul>
    
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<% include templates.ejs %>