<ul id="slide-out" class="side-nav fixed">
  <li class="logo">
    <a id="logo-container" href="#" class="brand-logo">
    <object id="front-page-logo" type="image/svg+xml" data="http://materializecss.com/res/materialize.svg">Your browser does not support SVG</object>
    </a>
  </li>

  <li class="active"><a href="#" class="waves-effect waves-dark">General channel</a></li>
  <li><a href="#" class="waves-effect waves-dark">Help channel</a></li>
</ul>

<main>

  <div class="navbar-fixed">
    <nav class="teal">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Websocket chatroom</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <section id="chat-view">
    <p class="message">Admin: Hello world! :smile:</p>
    <p class="message">Admin: Hello world!</p>
    <p class="message">Admin: Hello world! :heart:</p>
    <p class="message">Admin: Hello world! This is the final message.</p>
  </section>


  <div id="chat-entry-field">
    <nav class="blue-grey lighten-4">
      <div class="nav-wrapper">
        <form>
          <div class="input-field" id="chat-input-field">
            <input 
              id="chat-input" 
              type="text" required 
              placeholder="Type a message" 
              autocomplete=off
              contentEditable="true">


            <label for="chat-input" class="hide-on-small-only">
                <i class="material-icons">chat_bubble_outline</i>
            </label>
          </div>
        </form>
      </div>
    </nav>
  </div>


</main>
