<ul id="slide-out" class="side-nav fixed">
  <li><a href="#!">First Sidebar Link</a></li>
  <li><a href="#!">Second Sidebar Link</a></li>
</ul>

<main>

  <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">

          <a href="#!" class="brand-logo">Websocket Chatroom</a>
          <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>

          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
          </ul>

          <ul class="side-nav right" id="mobile-menu">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
          </ul>

        </div>
      </nav>
    </div>

  <a href="#" data-activates="slide-out" class="button-collapse">
    <i class="mdi-navigation-menu"></i>
  </a>
</main>
