<template id="newMessage">
    
    <div class="message">
        
        <span class="message-info">
            
            <span class="info-user">
                Username
            </span>
            <span class="info-time">
                15:24
            </span>
        
            <p class="message-body">This is the message body! :hearts: google.com</p>
        </span>
      
    </div>
    
</template>

<template id="threadMessage">
    
    <div class="thread-message">
        <p class="message-body">This is a thread message! It won't show the 
        username again, because the last sender was also the current user.</p>
    </div>
    
</template>