body {
    background: #f2f2f2;
    color: #212121;
}
#preface {
    margin-top: 5em;
}
#preface-form-error {
    display: none;
}
#loading {
    position: absolute;
    top: 46%;
    left: 48%;
    display: none;
}
#chat-app {
    display: none;
}
/* App css styles
---------------------- */

#logo-container {
    height: 57px;
    margin-bottom: 32px;
}
#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}
ul.side-nav.fixed li.logo {
    text-align: center;
    padding-top: 32px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
}
@media only screen and (min-width: 992px) {
    header,
    main,
    footer {
        padding-left: 240px;
    }
    nav {
        padding-right: 240px;
        margin-right: 240px;
    }
    .brand-logo {
        margin-left: 0.7em;
    }
}

/* Message view
----------------------------------------------------------------------------- */
#chat-view {
    padding-bottom: 62px;
}
.message {
    padding-left: 1em;
}

/* Chat entry field
----------------------------------------------------------------------------- */
#chat-entry-field {
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav .input-field label.active i {
    padding-top: 3px;
    color: #424242;
}
::-webkit-input-placeholder {
    color: #424242;
}
:-moz-placeholder {
    color: #424242;
}
::-moz-placeholder {
    color: #424242;
}
:-ms-input-placeholder {
    color: #424242;
}
@media only screen and (max-width: 600px) {
    .input-field input[type=search] {
        padding-left: 5px;
        width: 100%;
    }
}
#chat-input-field input[type=text] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
    color: #424242;
}
#chat-input-field input[type=text]:focus {
    background-color: #fff;
    border: 0;
    box-shadow: none;
    color: #444;
}
#chat-input-field input[type=text]:focus + label i,
#chat-input-field input[type=text]:focus ~ .mdi-navigation-close {
    color: #444;
}
#chat-input-field input[type=text] + label {
    left: 1rem;
}
#chat-input-field input[type=text] ~ .mdi-navigation-close {
    position: absolute;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
}