body {
   background:#eee !important;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin-left: -1em !important;
  }
}

.main-page {
  background: white !important;
  border-radius: 7px;
  margin-top: -1.3em !important;
}

.full-height {
    min-height: 600px !important;
    max-height: 601px !important;
}

.no-padding > .col-md-6, .col-md-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    width: 100%;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-left: 1em;
}

#markdown {
    overflow: auto;
    border-left: 1px solid #eee;
    padding-left: 1em;
}
