<!DOCTYPE html>
<html>
  <head>
    <title>Chatroom with websockets</title>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>

  <body>

    <div class="container" id="main-wrapper">

      <section id="preface">
        <% include chat/preface.ejs %>
      </section>

      <section id="loading">
        <div class="preloader-wrapper big active" id="preface-spinner">
          <% include ../partials/spinner.ejs %>
        </div>
      </section>

      <section id="chat-app">
        <% include chat/app.ejs %>
      </section>
    </div>

    <% include ../partials/scripts.ejs %>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/chat/chatPreface.js"></script>

  </body>
</html>
