<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>


<section class="row">
  <div class="col-md-12">
    <textarea
      class="col-md-6 full-height"
      id="pad"
      placeholder="Write your text here..">
    </textarea>

    <div class="col-md-6 full-height" id="markdown"></div>
  </div>
</section>

 <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>

</body>
</html>
